.flickity-button, .flickity-button:focus, .flickity-button:active, .flickity-button:hover {
  background: hsla(0, 0%, 100%, 0.34);
}

.flickity-button:disabled {
  display: none;
}

#carousel {
  margin-bottom: 30px;
}

#further-info {
  color: white;
  margin-bottom: 30px;
  //.further-info-wrapper:after {
  //  content: "";
  //  display: table;
  //  clear: both;
  //}
  .further-info-wrapper {
    margin-left: 30px;
    display: grid;
    grid-template-columns: auto;
    h1 {
      font-size: 20px;
    }
    .further-info-block {
      margin: 10px;
    }
  }
}

@media only screen and (min-width: 480px) {
  #further-info .further-info-wrapper {
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 1280px) {
  #further-info .further-info-wrapper {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-width: 1440px) {
  #further-info .further-info-wrapper {
    grid-template-columns: auto auto auto auto;
  }
}

.map-marker path {
  fill: #5f9a5f;
}

div.contact-form-container {
  text-align: left !important;
}

label.contact-form-label {
  margin-top: 10px;
  display: block;
}

input.contact-form-input {
  color: #06060d;
  padding: 4px;
  width: 100%;
  max-width: 400px;
}

textarea.contact-form-message {
  color: #06060d;
  padding: 4px;
  width: 100%;
  height: 200px;
  max-width: 400px;
}

button.submit-button {
  font-size: 20px;
  color: white;
  background: #2196F3;
  border: none;
  padding: 12px 24px 12px 24px;
}

button.submit-button.busy {
  background: grey;
}

button.submit-button.sent {
  background: #629230;
}

#dateSelect {
  min-width: 200px;
}

select {
  color: black;
}

.contact-form-item {
  margin-top: 12px;
}

.contact-form-item > label {
  margin-right: 12px;
}